header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 0 0 10px;
	border-bottom: 1px groove black;
	
} 

footer{
	background-color: #777777 ;
	display: flex;
}